<!DOCTYPE html>
<html>
<head>
	<title>Mohammad Hunan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='w3.css'/>
	<link rel='stylesheet' href='style.css'/>
</head>
<body>
	<div class='bg-background'>
   		<nav>
		  <a class="w3-bar-item w3-button w3-mobile nav-first">About</a>
		  <a class="w3-bar-item w3-button w3-mobile">Portfolio</a>
		  <a class="w3-bar-item w3-button w3-mobile">Services</a>
		  <a class="w3-bar-item w3-button w3-mobile">Skills</a>
		  <a href='https://www.youtube.com/channel/UC1nzGH9wEsJ_6Mc8hNO0k_w' class="w3-bar-item w3-button w3-mobile" target="_blank">Learn</a>
		  <a class="w3-bar-item w3-button w3-mobile">Contact Me</a>
		</nav>
		<div class='maincontent'>
    		<h1 class='introduction'>Hey, I'm Mohammad, a full stack developer <br/> and mad scientist from NYC</h1>
    		<h2 class='aboutheader'> I create responsive, secure and dynamic web applications</h2>
    	</div> 
    </div> <!--end of bg-background -->

    <div class='my-about'>
      <h1 class='about-title'>About Me</h1>
    	<div class='about' id='about'>
    	   <div class='vid'>
          		<video controls class='myvid'> 
            		<source src='coding.mp4' type='video/mp4' />
          		</video>
           </div> <!-- end of vid -->
           <div class='me'>

	          I am a full stack web developer from NYC, and I am a lifelong tinkerer of all things, this has led me into programming. I believe technology can solve many of the world’s problems in ways that politics can't.

	          My goal is to be a driving force in the generation of developers that will come up with solutions to large scale issues, ultimately leading to a better, more efficient, and friendlier world. 
   		   </div> <!--end of .me -->
   		</div> <!-- end of .about -->
    </div> <!-- end of .my-about -->

	<div id='portfolio' class='Portfolio'>
	    <h1 class='portfolio-title'>Portfolio</h1>
	    <div class='galaxyapp'>
            <span class='galaxyimage'>
            	<img class='mobileimage' src='projects/mylessonsmobile.png' />
            </span>
	        <span class='galaxytext'>
		          <h2>Galaxy Lessons</h2>
		          <h3>Full Stack Node.js/MeteorJS developer</h3>
		          <h4 class='github-url'>Github: <a class='initial-link' href='https://github.com/Mohammadhunan97/Galaxy-Lessons' target='_blank'>Source code</a></h4>
		          <h4 class='project-url'>Live Site: <a class='initial-link' href='https://mylessons.herokuapp.com' target='_blank'>mylessons.com</a></h4>
		          <br/>
		          <p>Galaxy Lessons is a web application for teachers to listen and manage their daily lesson plans. Built by instructors, for instructors.</p>
		          <br/>
		          <ul>
		            <li>Built Front End using Reactive Templating library, Blaze</li>
		            <li>Built and managed backend using MeteorJS
		              and MongoDB</li>
		            <li>Configured Websocket and Oauth with Twitter,
		              Facebook, and Google</li>
		            <li>Worked with third-party APIs</li>
		         </ul>
	        </span>
		</div>
	    <br/>
	    <br/>
	    <br/>
		<div class='galaxyapp attrapp'>
            <span class='galaxyimage attrimage'>
            	<img class='mobileimage' src='projects/attrmobile.png' />
            </span>
	        <span class='galaxytext attrtext'>
		          <h2>Attr_Reader</h2>
	          	  <h3>Full Stack Ruby on Rails Developer</h3>
		          <h4 class='github-url'>Github: <a class='initial-link' href='https://github.com/Mohammadhunan97/Attr-Reader' target='_blank'>Source code</a></h4>
		          <h4 class='project-url'>Live Site: <a class='initial-link' href='https://mylessons.herokuapp.com' target='_blank'>attrreader3.herokuapp.com</a></h4>
		          <br/>
		          <p>Attr-Reader is a book sharing web application built
				with a team of 4 using Ruby on Rails using MVC
				architecture and restful routing</p>
		          <br/>
		          <ul>
		           	<li>Built User Interface</li>
	             	<li>Fixed rails backend bugs and issues</li>
	              	<li>Deployed using Heroku</li>
		         </ul>
	        </span>
		</div>
	    <br/>
	    <br/>
	    <br/>
	    <div class='galaxyapp Wsia'>
            <span class='galaxyimage wsiaimage'>
            	<img class='mobileimage' src='projects/wsiaside.png' />
            </span>
	        <span class='galaxytext wsiatext'>
		          <h2>WSIA Staten Island 88.9 FM</h2>
	        	  <h3>Javascript and PHP developer</h3>
		          <h4 class='github-url'>Github: <a class='initial-link' href='https://github.com/Mohammadhunan97/Wsia-fm' target='_blank'>Source code (restricted access version)</a></h4>
		          <h4 class='project-url'>Live Site: <a class='initial-link' href='http://wsia.fm' target='_blank'>wsia.fm</a></h4>
		          <br/>
		          <p>WSIA Staten Island is a radio station serving roughly 100,000 listeners per month. This website was built by our dev team as a responsive platform where users could listen to wsia on any device while interacting with our site.</p>
		          <br/>
		          <ul>
		            <li>Built user interface using bootstrap</li>
	                <li>Built and managed backend using PHP and Postgresql</li>
	                <li>Encrypted sensitive user data and prevented against sql injection</li>
		         </ul>
	        </span>
		</div>
		<br/>
		<br/>
		<br/>
		<div class='galaxyapp Mixlounge'>
            <span class='galaxyimage miximage'>
            	<img class='mobileimage' src='projects/mixloungemobile.png' />
            </span>
	        <span class='galaxytext mixtext'>
		          <h2>Mix Lounge</h2>
	          	  <h3>Full Stack Elixir and Phoenix Developer</h3>
		          <h4 class='github-url'>Github: <a class='initial-link' href='https://github.com/Mohammadhunan97/Mix-Lounge' target='_blank'>Source code</a></h4>
		          <h4 class='project-url'>Live Site: <strong> Not currently available or under reconstruction</strong></h4>
		          <br/>
		          <p>Mix Lounge is a privately funded web application build to allow friends to build their own private virtual music lounge and chat in real time</p>
		          <br/>
		          <ul>
					<li>Managing backend and debugging</li>
	         	    <li>Configured websockets</li>
	         	    <li>Configured Oauth user authentication with facebook </li>
		         </ul>
	        </span>
		</div>
	    <br/>
	    <br/>
	    <br/>
	    <div class='galaxyapp Makerblog'>
            <span class='galaxyimage makerimage'>
            	<img class='mobileimage' src='projects/makerblogsmobile.png' />
            </span>
	        <span class='galaxytext makertext'>
		          <h2>Maker Blogs</h2>
	          	  <h3>PHP developer</h3>
		          <h4 class='github-url'>Github: <a class='initial-link' href='https://github.com/Mohammadhunan97/makerblog' target='_blank'>Source code</a></h4>
		          <h4 class='project-url'>Live Site: <strong> Not currently available or under reconstruction</strong></h4>
		          <br/>
		          <p>Maker Blogs is a php web application, built as a dynamic blogging platform similar to Tumblr. Users can login and create a blog easily by adding text posts and images</p>
		          <br/>
		          <ul>
					 <li>Built user interface using bootstrap</li>
	                 <li>Built and managed backend using PHP and Postgresql</li>
	                 <li>Encrypted sensitive user data and prevented against sql injection</li>
		         </ul>
	        </span>
		</div>
      </div> <!-- end of .portfolio -->
      <br/>
      <br/>
      <br/>
      <div id='services' class="Services">
        <h1 class='services-title'>Services I offer</h1>
          <h2 class='looking?'>Looking for a front-end, back-end or full stack developer to build your website or application? Here are some services I offer</h2>
          <hr/>
          <ul class='my-offerings w3-ul'>
            <li>Responsive Design</li>
            <li>Login with facebook, twitter, etc using Oauth authentication</li>
            <li>Full login and signup systems</li>
            <li>Automated mailers delivered right to you or your users email(s)</li>
            <li>Peer to peer communication between users of your site</li>
            <li>Real time communication for messaging services</li>
            <li>Database architecture for building for scalability or quick release with future scalability</li>
            <li>Deploying with Heroku, GoDaddy, and Digital Ocean. Configuring Hosting</li>
            <li>Incorporate powerful third party APIs with your application, such as Google Maps, spotify music, etc </li>
            <li>Prevent against hacks for your website such as preventing SQL injection</li>
            <li>Complete encryption of sensitive user data like passwords and credit card information </li>
            <li>Control your site with a content management system, such as Shopify, Wordpress, or Squarespace</li>
          </ul>
      </div>
      <br/>
      <br/>
      <div id='skills' class="Skills">
        <h3 class='skills-title'>Skills</h3>
        <div class='all-skills'>
          <span class='front-end'>
            <ul class="w3-ul">
              <strong><li>Front-End:</li></strong>
              <li>ReactJS</li>
              <li>Other templating frameworks/libraries(mustache-express, Blaze, etc)</li>
              <li>HTML5, CSS3, Javascript, Jquery</li>
              <li>AJAX</li>
              <li>Responsive Design and CSS frameworks</li>
            </ul>
          </span>

          <span class='back-end'>
             <ul class="w3-ul">
              <strong><li>Back-End:</li></strong>
              <li>Ruby on Rails Stack</li>
              <li>Javascript/Node Stack (MongoDB, NodeJS,ExpressJS, MeteorJS)</li>
              <li>Elixir, Phoenix framework</li>
              <li>Creating and consuming APIs</li>
              <li>PHP</li>
              <li>Oauth</li>
              <li>Websockets</li>
              <li>Encryption Frameworks</li>
              <li>Software Testing Frameworks</li>
            </ul>
          </span>
           <span class='other-skills'>
           <ul class="w3-ul">
              <strong><li>SQL and Databases:</li></strong>
              <li>MongoDB</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <br/>

              <strong><li>Version Control:</li></strong>
              <li>Git/Github</li>

              <br/>
              <strong><li>Deploying:</li></strong>
              <li>Heroku</li>
              <li>Digital Ocean</li>
              <li>Godaddy</li>
            </ul>
          </span>
        </div>
      </div>
      <br/>
      <br/>
      <div class='contacter'>
     	 <h2>Contact Me</h2>
     	 <p>Phone: 1 (716) 994 - 5113 </p>
     	 <p><a href='mailto:mohammadhunan@gmail.com'>Email:</a> mohammadhunan@gmail.com</p>
     	 <p>or leave me a message (these go straight to my phone so you should receive a response shortly)</p>

     	 <div class='success'>
     	 	<h3>Your message has been received, you should recieve a response by call/text or email soon</h3>
     	 </div>

     	  <div class='failure'>
     	 	<h3>Your message could not be completed at this time, an error message has been sent to me citing this error and it should be fixed shortly. For now please contact me with the information above</h3>
     	 </div>

     	 <div class='invalid'>
     	 	<h3>invalid phone number or email</h3>
     	 </div>

     	 <form class='w3-container contactmeform'>
     	 	Name: <input class='w3-input' name='name' placeholder='name'/>
     	 	Phone or Email: <input class='w3-input' name='phone_or_email' placeholder='phone number or email'/>
     	 	Message: <textarea class='w3-input' name='message' rows='5' placeholder='your message'></textarea>
     	 	<input class='w3-input' type='submit' />
     	 </form>
     	 
     	 <h3>Find me online</h3>
     	 <a href='https://www.linkedin.com/in/makermo/' target='_blank'>Linkedin</a> <a href='https://github.com/Mohammadhunan97' target='_blank'>Github</a> 
     	 <a href='hunanresume.pdf' target='_blank'>Resume</a>
      </div>
      <br/>
      <br/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src='script.js'></script>
</body>
</html>